<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492876220070-606om8br19nseehnij8pieapp2ujrh8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492876220070-606om8br19nseehnij8pieapp2ujrh8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDnKyJnT2eQyV0hzUq0Hov1BIc2lxcFOu4</string>
	<key>GCM_SENDER_ID</key>
	<string>492876220070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pergam</string>
	<key>PROJECT_ID</key>
	<string>pergam-b6da1</string>
	<key>STORAGE_BUCKET</key>
	<string>pergam-b6da1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492876220070:ios:24d3669140bb31141b1667</string>
</dict>
</plist>